/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure the navbar takes the full width of the screen */
  padding: 10px 20px;
  background-color: #91b6dc2d;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box; /* Ensure padding is included in the total width */
  margin: 0; /* Remove any default margin */
}

.navbar-logo img {
  height: 40px; /* Adjust the height as needed */
}

.navbar-buttons button {
  margin-left: 15px;
  padding: 8px 16px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-buttons button:hover {
  background-color: #ffffff;
}
